body {
    box-sizing: border-box;
}


footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top: auto;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }

  .social-network a.icoInstagram:hover {
    background-color: #fb3958;
  }

  .social-network a.icoMail:hover {
    background-color: #577be0;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i,
  .social-network a.icoInstagram:hover i,
  .social-network a.icoMail:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }

  #backimg { 
    background: url(../img/bg-callout.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
  }
  nav ul li div {
      border-radius: 10px;
  }

  @media screen and (max-width: 600px) {
    img.alignleft, img.alignright {
       width: 50%;
    }
 } 

 .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.section-title-container {
  margin-bottom: 1.5em
}

.section-title {
  position: relative;
  -js-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.section-title span {
  text-transform: uppercase;
}

.section-title b {
  display: block;
  -ms-flex: 1;
  flex: 1;
  height: 2px;
  opacity: .6;
  background-color: currentColor;
}

.section-title-bold-center span,
.section-title-bold span {
  border: 2px solid rgba(0, 0, 0, .1);
  padding: .3em .8em;
  border-radius: 15px;
  background-color: #61a0c0;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.zoom {
  transition: transform .2s; 
}

.zoom:hover {
  transform: scale(1.05);
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textsize {
  font-size: large;
  color: #14213b;
}

.bigfont {
  font-size: larger;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.card {
  padding: 0%;
}

.myformstyle {
  color: #14213b;
}

#namingscheme {
  margin-left: 10px;
  font-size: 35px;
  color: #16222A;
}